.btn {
  text-decoration: none;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #F65261;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}