.movieDetails {
  padding: 100px 50px;
  display: flex;

  &__movieImg {
    width: 400px;
    height: 600px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
  }

  &__movieDescription {
    display: flex;
    flex-direction: column;
    max-width: 700px;

    &__title {
      h3 {
        font-size: 44px;
        margin-bottom: 15px;
      }
    }

    &__genre {
      margin-bottom: 25px;
    }

    &__year {
      margin-bottom: 25px;
      span {
        font-size: 30px;
        color: #F65261;
        margin-right: 50px;
      }
    }
    &__text {
      line-height: 1.5;
    }
  }
}