.movieFilter {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  .genreList {
    display: flex;

    &__item {
      margin-right: 30px;
    }
  }

  .sortBy {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
}