.ourStory {
  position: absolute;
  top: 0;
  height: 750px;
  width: 100%;
  background-image: url(../../assets/images/website_large.jpg);
  filter: blur(6px);
}

.ourStoryContent {
  position: relative;
  z-index: 10;
  height: 750px;

  &__searchBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 40px;
    }

    &__search {
      display: flex;
      align-items: center;
    }

    .searchMovie {
      width: 900px;
      height: 55px;
      background-color: rgba(10, 10, 10,0.7);
      color: white;
      border-radius: 7px;
      font-family: sans-serif;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}