.movieListItems {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;

  &__item {
    margin: 50px 0;
    position: relative;

    &__title {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

    &__img {
      width: 400px;
      height: 600px;
      background-color: #555555;
      //background-image: url(../../assets/images/pulpFiction.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__options {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #232323;
      opacity: 0.8;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      .movieListItems__item__options {
        display: flex;
        cursor: pointer;
      }
    }

    &__optionsDropdown {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 200px;
      height: 100px;
      background-color: #232323;
      padding-top: 35px;

      span {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }

      div {
        padding: 10px 10px;
        cursor: pointer;

        &:hover {
          background: #F65261;
        }
      }
    }
  }
}
