.movieList {
  .moviesFound {
    font-size: 24px;
    span {
      font-weight: bold;
    }
  }

  .movieListItems {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}
