.header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;

  .logo {
    width: 100px;
    color: #F65261;
    font-size: 40px;
  }

  .search {
    font-size: 40px;
  }
}
