.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 100;
}

.movieModal {
  position: fixed;
  box-sizing: border-box;
  padding: 40px 30px;
  top: 50vh;
  left: 50vw;
  width: 800px;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #232323;

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &__header {
    font-size: 30px;
  }

  &__body {
    margin-top: 30px;

    .movieOptions {
      &__item {
        label {
          display: block;
          margin: 15px 0;
          color: #F65261;
        }

        input {
          width: 100%;
          height: 55px;
          background-color: rgba(59, 56, 56,0.7);
          color: white;
          border-radius: 7px;
          font-family: sans-serif;
          padding: 10px;
          box-sizing: border-box;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}